div.svg-box {
  margin : 0 auto;
  width : 100%;
  height : 600px;
  position : relative;
  border : 1px #000 solid;
  overflow: hidden;
}
svg.svg-canvas {
  border : 1px solid;
}
svg line {
  fill: none;
  stroke: #09d;
  stroke-width: 4;
  stroke-dasharray: 190 10;
  stroke-dashoffset: 0;
  -webkit-animation: dash 10s linear forwards;
  animation: dash 10s linear forwards;
  animation-iteration-count : infinite;
}
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
svg rect {
  rx : 10;
  ry : 10;
  fill : #fff;
  stroke : #666;
  stroke-width : 4;
}
svg text {
  fill : black;
  stroke : black;
  text-anchor : middle;
}
svg g.target rect, {
  fill : rgb(0, 188, 212);;
  stroke : #666;
}
svg g.target text {
  fill : #fff;
  stroke : #fff;
}
svg g.family rect, {
  fill : rgb(0, 188, 212);;
  stroke : #666;
}
svg g.family text {
  fill : #fff;
  stroke : #fff;
}